*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilory";
    color: #fff;
}

html , body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;/*IMPORTANT*/
    justify-content: center;/*IMPORTANT*/

}
.cursor {
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    mix-blend-mode: difference; /*IMPORTANT*/
    border-radius: 50%;
    position: absolute;/*IMPORTANT*/
    transition: all linear 0.2s;/*IMPORTANT*/
}
h1{
    font-size: 10vw;
    font-weight: 900;
}
